  .wrapper {
    display: flex;
    height: 93.3vh;
    font-family: sans-serif;
  }
  
  .sidebar, .panel {
    width: 70px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--toolbar-border);
    margin-top: 50px;
  }

  .rp-close-btn {
    left: -16px;
    background-color: var(--panel);
    position: absolute !important;
  }
  
  .right-panel-toggle {
    width: 16px;
    height: 60px;
    background-color: var(--panel);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%); 
    right: 0;
    border: 1px solid var(--sidebar-border);
    border-right: none;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .panel {
    width: 270px;
    padding: 10px;
    background-color: var(--panel);
    transition: background-color 0.3s ease; 
    border-top: 1px solid var(--sidebar-border);
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 20px;
  }
  
  .menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .menu button:hover, .active-tab {
    background-color: var(--active-panel); 
  }

  .menu img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .library {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
 
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .gridItem {
    background-color: #ddd;
    height: 60px;
  }
  
  .editorArea {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .sketch-picker  {
    height: 100% !important;
    width: 95% !important;
  }

  .flexbox-fix {
    color: black;
  }

  .toolbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    border-bottom: 1px solid var(--toolbar-border);
  }
  
  .toolbar button {
    padding: 0px 10px;
    cursor: pointer;
  }
  
  .canvas {
    margin: 40px;
    align-self: center;
    background-image: 
      linear-gradient(45deg, #e9e9e9 25%, transparent 25%),
      linear-gradient(-45deg, #e9e9e9 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #e9e9e9 75%),
      linear-gradient(-45deg, transparent 75%, #e9e9e9 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-color: var(--canvas); 
    overflow: auto;
    scrollbar-width: none;
  }
  
  .right-panel {
    width: 350px;
    background-color: var(--panel); /*#eee*/
    padding: 20px;
    margin-top: 50px;
    border-left: 1px solid var(--sidebar-border);
    border-top: 1px solid var(--sidebar-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .right-panel h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .history-info {
    text-align: left;
  }

  .history-info div {
    margin-bottom: 10px;
    cursor: pointer;
  }

  #undo-icon, #redo-icon {
    width: 23px;
  }

  #save-icon, #download-icon, #share-icon {
    width: 30px;
    height: 30px;
  }

  #elements-icon {
    width: 50px;
  }

  #text-icon, #images-icon {
    width: 30px;
  }

  #instruction-icon {
    width: 34px;
  }

  #edit-info-icon {
    margin-left: 6px;
  }

  #paint-icon, #zoom-in-icon, #zoom-out-icon {
    width: 28px;
  }

  #zoom-in-icon, #zoom-out-icon {
    height: 27px;
  }

  #edit-img-icon, #edit-info-icon {
    width: 33px;
  }

  div.tooltip-content {
    font-size: 16px !important;
  }
  
  .zoom-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    border-left: 2px solid var(--toolbar-border);
    border-right: 2px solid var(--toolbar-border);
  }
  
  .zoom-controls select {
    padding: 4px 6px;
    border-radius: 4px;
    background: #fff;
    color: #000;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }

  .dropdown-menu {
      position: absolute;
      width: 105px;
      text-align: center;
      background-color: var(--dropdown-menu-bg);
      border: 1px solid var(--active-panel);
      border-radius: 5px;
      top: 40px;
      right: -80px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1; 
  }

  .dropdown-option {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      cursor: pointer;
      color: black;
  }

  .dropdown-option img {
    width: 23px;
    height: 23px;
  }

  .dropdown-menu .dropdown-option:hover {
      background-color: var(--option-bg);
      border: 1px solid var(--option-bg);
      border-radius: 4px;
  }

  /*Images Panel*/

  .img-panel-image {
    border-radius: 11px;
    width: 500px;
    height: 140px;
    margin-top: 20px;
  }

  .search-wrapper-img-p {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  } 
  
  .active-img-tab {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--text-color);
  }
  
  .search {
    padding: 5px 44px 5px 9px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
  }

  #search-img {
    width: 20px;
    position: absolute;
    right: 15px; 
    top: 7px;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .tabs span {
    padding: 2px 10px;
    cursor: pointer;
    font-size: 14.5px;
  }

  .uploaded-images {
    margin-top: 15px;
    max-height: 647px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .upload-btn {
    display: block;
    text-align: center;
    margin-top: 18px;
    background-color: var(--text-color);
    color: var(--try-btn);
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 7px;
    width: 100%;
  }

  .upload-btn input[type="file"] {
    display: none;
  }

  /*Elements*/

  .figures, .lines, .tools {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .figures div, .lines div, .tools svg {
    margin-top: 15px;
    background-color: #dadada;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .active-tool, .figures div:hover, .lines div:hover {
    background-color: #bbbbbb !important;
  }

  .obj-tip {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
  }

  .properties-panel, .paint-settings {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px 5px 0;
  }

  .properties-panel input, .properties-panel select, .paint-settings input {
    margin-top: 5px;
  }

  .properties-panel input[type="color"], .paint-settings input[type="color"] {
    width: 100%;
    border-radius: 10px !important;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 0;
  }

  .properties-panel input[type="number"] {
    border-radius: 10px;
    padding: 1px 10px;
  }

  .properties-panel input[type="color"]::-webkit-color-swatch,
  .paint-settings input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 10px;
    padding: 0;
  }
  
  .properties-panel input[type="color"]::-webkit-color-swatch-wrapper,
  .paint-settings input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 4px 0;
  }
  
  .properties-panel label, .paint-settings label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

/* Info Panel */

.info-panel {
  margin-left: 12px;
  margin-top: 1px;
}

.info-label {
  display: block;
  margin-bottom: 6px;
}

.info-input {
  border-radius: 10px;
  background-color: #dadada;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 2px 10px; 
  color: black;
}

.info-size-settings {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.info-color-picker-wrapper {
  margin-top: 10px;
}

.info-bg-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

#status-part {
  margin-bottom: 10px;
}