/* styles/themes.css */

/* Определяем переменные по умолчанию (светлая тема) */
:root {
    --bg-primary: #ffffff;
    --bg-card: #ffffff;
    --bg-input: #f3f4f6;
    --text-primary: #1f2937;
    --text-secondary: #4b5563;
    --border: #e5e7eb;
    --accent: #10b981;
    --text-color: #000000;
    --main-search: #e4e4e4;
    --main-text-color: #333;
    --more-info: #555;
    --try-btn: white;
    --panel: #f0f0f0;
    --settings: #eee;
    --sidebar-border: #ccc;
    --canvas: white; /*#c1bdbd*/
    --toolbar-border: #ccc;
    --active-panel: #d8d8d8;
    --dropdown-menu-bg: #f0f0f0;
    --option-bg: #b3b3b3;
  }
  
  /* Определяем переменные для темной темы, которые будут применяться при наличии класса dark */
  .dark {
    --bg-primary: #121212;
    --bg-card: #1e1e1e;
    --bg-input: #2d3748;
    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
    --border: #333333;
    --accent: #34d399;
    --text-color: #ffffff;
    --main-search: #ffffff;
    --main-text-color: #ffffffe5;
    --more-info: #ffffffd0;
    --try-btn: black;
    --panel: #292929;
    --settings: #292929;
    --sidebar-border: black;
    --canvas: #d8d8d8; /*#242424*/
    --toolbar-border: #292929;
    --active-panel: #1f1f1f;
    --dropdown-menu-bg: #bebebe;
    --option-bg: #e4e4e4;
  }
  
  /* Можно также добавить плавные переходы между темами */
  body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Аналогично для других элементов, которые должны иметь плавный переход */
  .theme-transition {
    transition: background-color 0.3s ease, 
                color 0.3s ease, 
                border-color 0.3s ease,
                box-shadow 0.3s ease;
  }
  
  /* Стили для основных элементов приложения */
  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
  
  /* Другие общие стили для вашего приложения */